 <%@novels.each do |novel| %>
 <div class="row slide">
  <div class="col-md-6">
    <h3><a href="<%= novel.id %>"><%= novel.chapter_number %><span class="space">:</span><%= novel.chapter_title %></a></h3>
    <p><%=novel.chapter_body[0..200]%></p>
  </div>
  <div class="col-md-6">
    <img class="icon" src="<%= novel.novel_img %>" alt="image not found">
  </div>
</div>
 <% end %>
