 <%@novels.each do |novel| %>
 <h1> <a href="/"><%= novel.novel %></a></h1>
 <div class="row">
  <div class="col-md-6 left">
    <h3><a href="<%= novel.id %>"><%= novel.chapter_number %><span class="space">:</span><%= novel.chapter_title %></a></h3>
    <p><%=novel.chapter_body[0..200]%></p>
  </div>
  <div class="col-md-6 right">
    <img class="icon" src="<%= novel.novel_img %>" alt="">
  </div>
</div>
 <% end %>
