<div class="row">
  <h1><%= @novel.novel %></h1>
 <div class="col-md-12">
   <h3><%= @novel.chapter_number %><span class="space">:</span><%= @novel.chapter_title %></h3>
   <p id="chapter_body"><%=@novel.chapter_body%></p>
 </div>
</div>
<div class="row">
  <div class="col-md-12">
    <a href="/<%= @novel.id %>/edit">Edit</a>
    <form class="delete" action="/<%= @novel.id %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete">
    </form>
  </div>
</div>
